@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";


main, div, ul {
    overflow-x: hidden;
}

div h1, .flight-num {
    text-shadow: -2px 0px 0px #2563EB;
}

a {
    cursor: pointer;
}

/* Loading Animation */
.spinner-box {
    width: 300px;
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
  }

  .pulse-container {
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pulse-bubble {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: linear-gradient(to left, #5433FF, #20BDFF); 
  }
  
  .pulse-bubble-1 {
      animation: pulse .4s ease 0s infinite alternate;
  }
  .pulse-bubble-2 {
      animation: pulse .4s ease .2s infinite alternate;
  }
  .pulse-bubble-3 {
      animation: pulse .4s ease .4s infinite alternate;
  }

@keyframes pulse {
    from {
      opacity: 1;
      transform: scale(1);
    }
    to {
      opacity: .25;
      transform: scale(.75);
    }
  }
  